{{! this file defines pages to be included in the menu of template, these could be about, contacts, etc.  }}

<li><a href="#" class="manu dn-ajx-link">The Project</a></li>
<li><a href="#" class="manu dn-ajx-link">¿Quiénes somos?</a></li>
<li><a href="#" class="manu dn-ajx-link">Únete</a></li>
<li><a href="#" class="manu dn-ajx-link">Suscríbete</a></li>
